
   body{

   background-color: rgb(250, 222, 215);
   }
        #p {
            color: rgb(117, 52, 197); font-size: 25px;
           }
          #h2 {
              color: blue; font-size: 40px;
           }
     
           .shiny {
              color: mediumvioletred; font-size: 30px;
           }
  
           #h2_different{
              color: rgb(139, 76, 0); font-size: 40px;
           }
  
  
          #h2_more_different {
              color: rgb(255, 132, 0); font-size: 50px;
          }
           